#head2{
  color:#9933CC;
  text-align: center;
}
#main
{
  background-color:#9933CC;
  width:40%;
  color:white;
  align:left;
  padding:10px;
  margin: 0 auto;
}
#fromTable
{
  
  color:white;
  border-color: white;
  width: 100%;
  padding: 10px;
  border-spacing: 10px;

}
.errorMsg{

	color: red;
}